/Servidor/build
/Servidor/dist
/Servidor/nbproject/private
/Servidor/SERVIDOR
/Servidor/target/
/Servidor/nbactions.xml
/Servidor/nb-configuration.xml
/Cliente/build
/Cliente/dist
/Cliente/nbproject/private
/Cliente/target/
/Cliente/nbactions.xml
/Cliente/nb-configuration.xml
/SERVIDOR
/logs_0
/logs_1
/logs_2